/* Logo */
.logo img{
  display: inline-block;
  height: 25px; /* 로고 이미지 높이 */
  width: auto;
  margin-top: 40px;
  padding-left: 70px;
}


/* 상단메뉴바 */

 .nav-menu {
  position: fixed;
  top: 100px;
  right: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 16px;
  color: #000;
}

.link-nav {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-right: 20px;
}

.link-nav:hover {
  color: #000000;
}



/* 첫째 */
.main {
  position: absolute;
  top:0px;
  left:0px;
}

/* 둘째 */
.logo-text {
  position: absolute;
  top: 300px;
  left: 400px;
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}
ul {
	margin: 0;
	padding: 0;
	display: flex;
}
ul li {
	list-style: none;
	color: #262626;
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 10px;
	filter: blur(0.3px);
  text-shadow: 30px 30px 30px rgba(128, 128, 128, 0.5);
  text-shadow: opacity(100%);
  
}
ul:hover li {
	animation: animate 2s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg) translateY(0);
		opacity: 1;
		filter: blur(1px);
	}
	
	100% {
		transform: rotate(45deg) translateY(-250px);
		opacity: 0;
		filter: blur(20px);
	}
	
}
 
ul li:nth-child(1) { animation-delay: 0s; }
ul li:nth-child(2) { animation-delay: .4s; }
ul li:nth-child(3) { animation-delay: .8s; }
ul li:nth-child(4) { animation-delay: 1.2s; }
ul li:nth-child(5) { animation-delay: 1.6s; }



/* 푸터 */
.div-block-27 {
  position:relative;
  top: 1080;
  width: 100%;
  background-color: #f5f5f5;
}

.footer-links {
  margin-right: 0px;
  font-size: 14px;
  color: #444444;
}

.footer-links:hover {
  color: #000000;
}

.small-p {
  font-size: 13px;
  color: #333333;
}

.small-p a {
  color: #333333;
}

.small-p a:hover {
  color: #444444;
}
