
/* Title */
.logo-text {
        font-size: 100px;
        font-weight: bold;
        color: #fffff;
        margin-top: 100px;
        margin-bottom: 200px;
        position: relative;
    }

.navigation {
        font-size: 100px;
        font-weight: bold;
        color: #fffff;
}

/* 상단메뉴바 */

    .nav-menu {
      text-color: #3333;
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
       -webkit-box-pack: justify;
       -webkit-justify-content: space-between;
       -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 100px;
      padding-bottom: 500px;
    }

    .link-nav {padding: 10px;}

    .w-nav-link:hover {
      text-color: #blak;
      font-weight: bold;
    }


/* 타이틀 영상넣기 */

[role="main.img"] {
  width: 120%;
  height: 120%;
  object-fit: cover;
  z-index: -1;
  margin-top: 100px;
  margin-bottom: 0px;}
